name: Check Formatting

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Check flake
        run: nix flake check

      - name: Check formatting
        run: |
          nix fmt -- --check .
