name: Check Dead Code

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-deadnix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@ab0a9732c6464e5bb81efb82a2103c7d98f0946f # main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@b8276522d77f21bf19d3574e5bc99186a6c7aa6c # main

      - name: Check for dead code
        run: |
          nix run nixpkgs#deadnix -- --fail .
