name: Check Dead Code

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  check-deadnix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check for dead code
        run: |
          nix run nixpkgs#deadnix -- --fail .
